<template>
  <div class="container">
    <h1>Welcome to MyTakjil!</h1>
    <n-button @click="login">
      Continue with Google
    </n-button>
  </div>


</template>
<style lang="sass" scoped>
.container
  @include fit
  padding: 20px
</style>
<script lang="ts" setup>
import { NButton } from 'naive-ui';
import store from '@/store';
// import { useRouter } from 'vue-router';
// const router = useRouter()

function login() {
  //TODO
  let token = "dummy"
  let refresh = "dummy"
  store.commit("setToken", token);
  store.commit("setRefresh", refresh);
  store.commit("setIdentity", token);
  
  // router.push("/")
  window.location.href = "https://auth-service-mytakjil.herokuapp.com/accounts/google/login"
}
</script>