<template>
    <nav>
        <div id="nav-links">
            <nav-tab id="brand" :to="'/'">
                <icon size=24>
                    <FastFoodOutline />
                </icon>
                MyTakjil
            </nav-tab>
            <nav-tab v-if="!store.state.isAdmin && store.state.isAuthenticated" :to="'/menu'">Menu</nav-tab>
            <nav-tab v-if="!store.state.isAdmin && store.state.isAuthenticated" :to="'/your-order'">Your Orders</nav-tab>
        </div>
        <nav-tab v-if="store.state.isAuthenticated" @click="logout" :to="'/login'">Logout</nav-tab>
    </nav>
</template>
<style lang="sass" scoped>
#brand
    font-weight: bold

nav
    z-index: 1000
    padding: 20px
    justify-content: space-between
    @include row
    @include shade

#nav-links
    @include row(20px)
</style>
<script lang="ts" setup>
import NavTab from '@/components/NavTab.vue';
import { FastFoodOutline } from '@vicons/ionicons5';
import { Icon } from '@vicons/utils';
import store from "@/store";

function logout() {
    store.commit("removeToken")
    store.commit("removeRefresh")
}
</script>