<template>
  <router-link v-bind="$props">
    <div class="navtab-div" :class="{ pop: pop() }">
      <slot />
    </div>
  </router-link>
</template>

<script lang="ts" setup>
import { defineProps } from 'vue';

// Props
const props = defineProps<{
  to?: string
}>()

function pop() {
  return props.to != "/" && window.location.href.startsWith(window.location.origin + props.to)
}
</script>

<style lang="sass" scoped>
.navtab-div
  @include row
  color: $black
  &.pop
    color: $green
</style>