<template>
	<NConfigProvider :theme-overrides="NAIVE_THEME_OVERRIDES">
		<nav-bar />
		<div id="wrapper">
			<div id="container">
				<router-view />
			</div>
		</div>
	</NConfigProvider>
</template>
<style lang="sass" scoped>
#wrapper
	background: $gray
	box-sizing: border-box
	flex-grow: 1
	display: flex
#container
	min-height: 100%
	height: fit-content
	box-sizing: border-box
.n-config-provider
	display: flex
	flex-direction: column
	@include fit
</style>
<script lang="ts" setup>
import NavBar from '@/components/NavBar.vue';
import '@/assets/sass/_base.sass'
import { NConfigProvider } from 'naive-ui';
import { NAIVE_THEME_OVERRIDES } from '@/naive-config';
import store from './store';
import axios from 'axios';

function beforeCreate() {
	store.commit('initializeStore')
	const token = store.state.token
	console.log(token)
	if (token) {
		axios.defaults.headers.common['Authorization'] = 'Bearer ' + token
	} else {
		axios.defaults.headers.common['Authorization'] = ''
	}
}

beforeCreate()
</script>
