@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

$font-main: 'Montserrat', sans-serif
$black: #28262c
$green: #68bd41
$red: #f02438
$yellow: #ffd23f
$white: #ffffff
$gray: #f3f3f3

@mixin fit()
    width: 100%
    height: 100%

@mixin row($gap: 10px)
    display: flex
    flex-direction: row
    align-items: center
    gap: $gap

@mixin col($gap: 10px)
    display: flex
    flex-direction: column
    align-items: center
    gap: $gap
    
@mixin shade($length: 4px)
	box-shadow: 0 $length $length 0 rgba(0, 0, 0, 0.12)

html
    @include fit

body
    margin: 0
    font-family: $font-main
    color: $black
    @include fit

a
    text-decoration: none
    color: $green
